@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
* {
  box-sizing: border-box; }

.container {
  background-color: #47caff;
  display: flex;
  justify-content: center;
  height: 25em;
  margin: 0 auto;
  position: relative;
  width: 25em; }

.container, .eyes:before, .eyes:after, .smile, .chin, .tongue, .neck, .shirt,
.shirt:before, .shirt:after, .paws-arms:before, .paws-arms:after, .honeypot {
  border-radius: 50%; }

.ears:before, .ears:after, .brows:before, .brows:after, .lids:before, .lids:after,
.eyes:before, .eyes:after, .nose, .nose:after, .cheeks:before, .cheeks:after,
.smile, .tongue, .chin, .neck, .shirt, .shirt:before, .shirt:after, .paws, .paws:before, .paws:after,
.paws-arms, .paws-arms:before, .paws-arms:after, .honeypot, .honeypot:after, .honeypot .bee, .bee:after {
  position: absolute; }

.head {
  background-color: #FCDC94;
  border-radius: 100%/100% 100% 50% 50%;
  height: 15em;
  position: relative;
  width: 15em;
  z-index: 2; }

.ears:before, .ears:after {
  background-color: #ffcc62;
  border-radius: 50% 40%;
  border-color: #79543b;
  box-shadow: inset 1em 2em 0em -1em #FCDC94, inset -1em 1em 0em 0em #FCDC94;
  content: "";
  height: 3em;
  width: 3em; }
.ears:before {
  transform: rotate(-31deg); }
.ears:after {
  right: 0; }

.brows:before, .brows:after {
  content: "";
  height: 3em;
  top: 5em;
  width: 2em; }
.brows:before {
  border-radius: 100%/50% 30% 30% 20%;
  left: 2em;
  transform: rotate(-20deg); }
.brows:after {
  border-radius: 100%/20% 50% 50% 20%;
  right: 2em;
  transform: rotate(20deg); }

.brows:before,
.brows:after,
.nose {
  border-top-color: #79543b;
  border-top-width: .3em;
  border-top-style: solid; }

.lids:before, .lids:after {
  background-color: rgba(255, 204, 98, 0.8);
  border-radius: 50%/100% 100% 50% 50%;
  box-shadow: 0 0 0.3em 1em rgba(255, 204, 98, 0.8);
  content: "";
  height: 3em;
  width: 3em; }
.lids:before {
  left: 3em; }
.lids:after {
  right: 3em; }
.lids:before, .lids:after {
  top: 7em; }

.eyes:before, .eyes:after {
  background-color: #fff;
  border: 0.3em solid black;
  content: "";
  height: 1em;
  top: 9em;
  width: 1em;
  z-index: 2; }
.eyes:before {
  box-shadow: inset 3px -5px 2px 5px #231911;
  transform: rotate(45deg);
  left: 4.8em; }
.eyes:after {
  box-shadow: inset 5px 3px 2px 5px #231911;
  right: 4.8em;
  transform: rotate(-45deg); }

.nose {
  border-radius: 50%/20%;
  height: 3em;
  bottom: 2em;
  left: 6.5em;
  width: 2em; }
  .nose:after {
    background-color: #fff;
    border-radius: 80% 50% 50% 50%/50% 100% 30% 50%;
    box-shadow: inset 0 0 9px 6px #231911;
    content: "";
    height: 1em;
    width: 2em;
    top: .6em; }

.cheeks:before, .cheeks:after {
  border-top-color: rgba(253, 236, 198, 0.8);
  border-top-width: 0.5em;
  border-top-style: solid;
  border-radius: 49%;
  bottom: 2em;
  box-shadow: inset -2.5em 2.5em 4em -3em #ffcc62, inset -3em 4em 3em -4em rgba(255, 192, 203, 0.71);
  content: "";
  height: 2em;
  width: 4em; }
.cheeks:before {
  left: 1.8em; }
.cheeks:after {
  right: 1.8em; }

.smile {
  border-bottom-color: #79543b;
  bottom: 1.5em;
  height: 3em;
  left: 6em;
  width: 3em; }

.smile,
.chin {
  border-bottom-width: 1.3em;
  border-bottom-style: solid; }

.tongue {
  border-bottom-color: pink;
  border-bottom-width: 0.5em;
  border-bottom-style: solid;
  height: 0em;
  left: 0.5em;
  top: 2.5em;
  width: 2em; }

.chin {
  border-bottom-color: #FCDC94;
  box-shadow: 0 1em 1em -0.9em #79543b;
  height: 3em;
  bottom: -0.5em;
  left: 5em;
  width: 5em; }

.neck {
  background-color: #FCDC94;
  bottom: 8.2em;
  height: 7em;
  left: 6.5em;
  width: 12em;
  z-index: 1; }

.shirt {
  background-color: #eb6944;
  bottom: 0em;
  left: 3em;
  height: 12em;
  width: 19em; }
  .shirt:before, .shirt:after {
    border-bottom-style: solid;
    border-width: 2em;
    bottom: 6.5em;
    content: "";
    height: 5em;
    width: 10em;
    z-index: 1; }
  .shirt:before {
    border-bottom-color: #e84f24;
    transform: rotate(21deg);
    left: 3.3em; }
  .shirt:after {
    border-bottom-color: #e9572d;
    transform: rotate(-21deg);
    right: 3.3em; }

.paws {
  bottom: 8em;
  left: 12.5em; }
  .paws:before, .paws:after {
    background-color: #FCDC94;
    content: "";
    height: 5em;
    width: 5em;
    z-index: 4; }
  .paws:before {
    border-right: 0.1em solid rgba(121, 84, 59, 0.5);
    border-radius: 70% 50%;
    left: 4em;
    top: 1em; }
  .paws:after {
    border-left: 0.1em solid rgba(121, 84, 59, 0.5);
    border-radius: 50% 70%;
    box-shadow: inset -1em -1em 0 0.1em #ffbb2f;
    right: 3em;
    top: .5em; }
  .paws-arms {
    top: 1em; }
    .paws-arms:before, .paws-arms:after {
      background-color: #FCDC94;
      content: "";
      height: 3.5em;
      width: 5em; }
    .paws-arms:before {
      left: 5em; }
    .paws-arms:after {
      right: 5em;
      transform: rotate(40deg); }

.honeypot {
  background-color: #ffbb2f;
  bottom: 0;
  box-shadow: inset 0.1em -0.1em 0.2em 0.5em sandybrown, inset 0em 1em 0 1em #79543b, 0em 2em 0 0.5em #765239, 0em 4em 0 1em #79543b, 0em 6em 0 0.5em #724f38, 0em 8em 0 -0.4em #79543b;
  color: #b3b3b3;
  font-family: 'Architects Daughter', cursive;
  height: 5em;
  left: 5.5em;
  width: 14em;
  z-index: 3; }
  .honeypot:after {
    bottom: 1em;
    content: "HUNNY";
    font-size: 1.5em;
    left: 3.3em;
    top: 5.2em; }
  .honeypot .bee {
    background: linear-gradient(to bottom right, black 0px, #ffcc62 4px, black, #ffcc62 8px, black, #ffcc62 19px);
    border-radius: 50% 90%;
    height: 1em;
    right: 4em;
    width: 1em;
    animation: fly 3s infinite ease-in-out; }
    .honeypot .bee:after {
      background-color: rgba(255, 255, 255, 0.48);
      border-radius: 100% 50%;
      bottom: .5em;
      content: "";
      height: .8em;
      left: .6em;
      width: 0.8em; }

@keyframes fly {
  0% {
    transform: translateX(-1em, 3em); }
  50% {
    transform: translate(-3em, 0.5em); }
  100% {
    transform: translateX(-1em, 3em); } }

/*# sourceMappingURL=m.css.map */
